div.container {
    width: 100%;

    border: 1px solid #e0ddddee;
    border-radius: 10px;

    display: flex;
    align-items: center;

    gap: 20px;

    padding: 1.2em;
    
    img {
        max-width: 10%;
    }

    div.content {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span {
            font-weight: 700;
        }

        div.buttons {
            display: flex;

            gap: 10px;

            button {
                display: flex;
                align-items: center;
                justify-content: center;

                border: 0;
                border-radius: 20px;

                padding: 1em;

                color: #ffff;

                font-size: 0.9rem;
                font-weight: 700;

                cursor: pointer;
            }

            button.confirm {
                background-color: #07c907;
            }

            button.confirm:hover {
                background-color: #50db50;
            }

            button.delete {
                background-color: #f30a0a;
            }

            button.delete:hover {
                background-color: #df3838;
            }
        }
    }
}

@media (max-width: 785px) {
    div.container {
        div.content {
            font-size: 0.8rem;

            div.buttons {
                width: 50%;
                
                button {
                    width: 50%;
                    
                    font-size: 1em;
                    
                }
            }
        }
    }
    
}

@media (max-width: 740px) {
    div.content {
        div.buttons {
            width: 30%;

            button {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 625px) {
    div.content {
        div.buttons {
            gap: 5px;

            width: 20%;

            button {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: 540px) {
    div.content {
        div.buttons {
            button {
                height: 40px;
            }
        }
        
    }
}