.input {
    width: 464px;
    height: 60px;

    padding-left: 3em;

    border: 0;
    border-radius: 2px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    color: #9C9C9C;
}


input#email, input#email2 {
    background: url("../../assets/login/email.png") no-repeat left 12px center /16px;
}

input#password, input#password2 {
    background: url("../../assets/login/password.png") no-repeat left 12px center/13px;
}

input#user {
    background: url("../../assets/login/user.png") no-repeat left 12px center/16px;
}

input#email, input#email2, input#password, input#password2, input#user {
    background-color: #F5F5F5;
}