.container {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-x: hidden;

    .titleForm {
        display: flex;
        flex-direction: column;
        align-items: start;
    
        gap: 65px;
    
        flex: 1;

        div.titleH {
            display: flex;
            justify-content: center;
            align-items: center;

            h1 {
                font-weight: 700;
                color: #9829D1;
    
                margin-top: 1em;
            }    
        }

        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            padding-right: 4em;

            div.dataNascimento, div.genero, div.visibilidade {
                display: flex;
                flex-direction: column;

                gap: 16px;

                color: #9C9C9C;
                font-weight: 500;
                font-size: 0.9rem;
           }

            div.dataNascimento div.optionsD{
                display: flex;
                gap: 70px;
                
                div {
                    display: flex;
                    flex-direction: column;
                }

                input {
                    width: 5.813rem;
                    height: 37px;
                    
                    border: 1px solid #000;
                    border-radius: 8px;

                    padding-left: 1em;
                }

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            div.genero div.optionsG, div.visibilidade div.optionsV{
                display: flex;
                gap: 70px;

                div {
                    width: 121px;
                    height: 40px;

                    border-radius: 10px;
                    border: 1px solid #000;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    gap: 15px;

                    label.preferencia {
                        padding-left: 1em;
                    }
                }
            }

            span {
                font-size: 0.7rem;
                font-weight: 700;

                color: #ff0000;
            }
        }
    }
}

@media (max-width: 1024px) {
    .container {
        div.titleH {
            padding-top: 4em;
        }
    }
}

@media (max-width: 1010px) {
    .container {
        img {
            margin-left: 2em;
        }
    }
}

@media (max-width: 978px) {
    .container {
        img {
            max-width: 100%;
        }

        .titleForm {
            padding-left: 3em;
        }
    }
}
 
@media (max-width: 960px){
    .container {
        .titleForm {
            form {
                padding-right: 2.5em;
    
                div.dataNascimento div.optionsD{
                    gap: 40px;
                }
    
                div.genero div.optionsG, div.visibilidade div.optionsV{
                    display: flex;
                    gap: 40px;
                }
            }
        }
    }
}

@media (max-width: 890px) {
    .container {
        flex-direction: column;

        padding-top: 100px;

        img {
            max-width: 150px;
            max-height: 90px;
        }
    
        .titleForm {
            div.titleH {
                align-self: center;
            }

            form {
                align-items: center;

                gap: 10px;

                div.dataNascimento, div.genero, div.visibilidade {
                    align-items: center;
                }
    
                span {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        padding-top: 180px;
    }
}

@media (max-width: 665px) {
    .container {
        form {
            margin-left: 4em;

            padding-right: 1em;
        }
    }
}

@media (max-width: 645px) {
    .container {
        .titleForm {
            padding-right: 2em;
        }
    }
}

@media (max-width: 630px) {
    .container {
        .titleForm {
            form {
                div.genero div.optionsG {
                    display: flex;
                    flex-wrap: wrap;

                    margin-left: 3em;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .container {
        img {
            margin-left: 2em;

            max-width: 100px;
            max-height: 40px;
        }

        .titleForm {
            h1 {
                font-size: 1rem;
            }
    
            form {
                gap: 10px;
    
                div.dataNascimento, div.genero, div.visibilidade {
                    gap: 5px;
    
                    font-size: 0.8rem;
               }
    
                div.genero div.optionsG, div.visibilidade div.optionsV{
                    gap: 20px;
    
                    div {
                        width: 105px;
                    }
                }

                div.genero div.optionsG{
                    padding: 1em;
                }
    
                span {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        .titleForm {

            div.titleH {
                margin-left: 2em;
            }

            form {    
                div.dataNascimento div.optionsD, div.visibilidade div.optionsV {
                    padding: 1em;
                }

                div.dataNascimento div.optionsD {
                    div {
                        label {
                            font-size: 0.8em;
                        }
                    }
                }
                
                div.genero div.optionsG, div.visibilidade div.optionsV{
                    gap: 4px;
    
                    div {
                        width: 100px;

                        label {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .container {
        .titleForm {
            form {  
                div.dataNascimento div.optionsD, div.genero div.optionsG, div.visibilidade div.optionsV{
                    gap: 10px;

                    div {
                        gap: 4px;
                        width: 90px;
                    }
                }
            }
        }
    }
}