.container {
    display: flex;
    justify-content: space-between;

    div.asideMain {
        width: 100%;
        display: flex;

        aside {
            min-width: 24%;
            height: 100vh;
            background: linear-gradient(to bottom, rgba(152, 41, 209, 1), rgba(0, 74, 173, 0.61));
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            color: #fff;
    
            padding-top: 5em;
       
            strong {
                font-weight: 500;
            }
    
            div.data{
                display: flex;
                gap: 18px;
            }
    
            button {
                border: 2px solid #ffff;
                background: rgba(217, 217, 217, 0.28);
            }
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-grow: 1; 
            max-height: calc(100vh - 50px);
            overflow-x: hidden;

            padding-top: 7em;
            
        }
    }
}