.container {
    display: flex;
    justify-content: space-between;

    div.asideMain {
        width: 100%;
        display: flex;

        aside {
            min-width: 24%;
            height: 100vh;
            background: linear-gradient(to bottom, rgba(152, 41, 209, 1), rgba(0, 74, 173, 0.61));
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
    
            color: #fff;
    
            padding-top: 5em;
       
            strong {
                font-weight: 500;
            }
    
            div.data{
                display: flex;
                gap: 18px;
            }
    
            button {
                border: 2px solid #ffff;
                background: rgba(217, 217, 217, 0.28);
            }
        }

        main {
            display: flex;
            justify-content: center;
            align-items: center;

            flex-grow: 1; 
            max-height: calc(100vh - 50px);
            overflow-x: hidden;

            padding-top: 8em;
        }
    }
}

@media (max-width: 980px) {
    .container {
       div.asideMain {
            flex-direction: column;
            max-height: 550px;

            aside {
                flex-direction: row;

                img {
                    width: 100px;
                }
            }

            main {
                padding-top: 14em;
            }
       }
    }
}

@media (max-width: 768px) {
    .container {
        div.asideMain {
            aside button {    
                align-self: start;
            }
        }
    }
}

@media (max-width: 670px) {
    .container {
        div.asideMain {
            aside {
                font-size: 0.9rem;

                img {
                    width: 80px;
                }

                button {
                    max-width: 150px;
                    align-self: start;
                }
            }
        }
    }
}

@media(max-width: 575px) {
    .container {
        div.asideMain {
            aside {
                font-size: 0.8rem;

                img {
                    width: 70px;
                }

                button {
                    max-width: 120px;
                    align-self: start;
                }
            }
        }
    }
}

@media(max-width: 500px) {
    .container {
        div.asideMain {
            aside {
                font-size: 0.7rem;

                img {
                    width: 50px;
                }

                button {
                    max-width: 100px;
                    align-self: flex-start;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .container {
        header {
            div {
                gap: 35px;
            }
        }

        div.asideMain {
            aside {
                font-size: 0.65rem;
                margin-top: 2em;

                button {
                    max-width: 90px;
                }
            }

            main {
                div {
                    align-items: flex-start;

                    margin-right: 30em;
                    h1 {
                        font-size: 0.9rem;
                    }

                    p {
                        font-size: 0.5rem;
                    }

                   width: 100%;
                }
                margin-left: 4em;
            }
        }
    }
}