.header {
    height: 80px;
    background: linear-gradient(to bottom, #9431D1, #6788CD);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;

    z-index: 1;

    .logo {
        height: 55px;
        display: flex;
        justify-content: center;
    
        flex: 1;
    
        img {
            max-width: 100px;
        }
    }

    .icons {
        display: flex;
        flex-direction: row;

        gap: 100px;
        flex-grow: 1;
    
        margin-left: 5em;

        img {
            width: 30px;
            height: 30px;
            display: flex;
        }
        
        .submitImage {
            background: none;
            border: none;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .header {
        height: 80px;
        display: flex;
        top: 0;
    }
    .logo {
        height: 55px;
    }
    .icons {
        gap: 4em;
    }
}

@media (max-width: 752px) {
    .header {
        .icons {
            gap: 6em;            
        }
    }
}

@media (max-width: 730px){
    .header {
        .icons {
            gap: 4em;
        }
    }
}


@media (max-width: 634px) {
    .icons {
        gap: 3em;
    }
}

@media (max-width: 618px) {
    .icons{
        position: relative;
        padding-right: 20%;
    }

    .logo {
        position: relative;
        left: 10%;
    }
}

@media (max-width: 515px) {
    .header {
        .icons {
            gap: 1.8em;
        }
    }
}

@media (max-width: 400px){
    .header {
        .icons {
            gap: 2em;
    
            img {
                width: 23px;
            }
        }
    }
}

@media (max-width: 385px) {
    .header {
        .logo {
            display: flex;
            align-items: center;
            position: relative;
            left: 10%;
            height: 70%;
        }
        .icons {
            gap: 2em;

            img {
                width: 20px;
            }
        }
    }
}

@media (max-width: 345px) {
    .header {
        .icons {
            padding-right: 25%;
            gap: 1.3em;

            img {
                width: 20px;
            }
        }
    }
}