.header {
    height: 80px;
    background: linear-gradient(to bottom, #9431D1, #6788CD);
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
.logo {
    height: 55px;
    display: flex;
    justify-content: center;

    flex: 1;

    img {
        max-width: 100px;
    }
}

.icons {
    display: flex;
    flex-direction: row;

    gap: 100px;
    flex-grow: 1;

    margin-left: 5em;
}

.icons img {
    width: 30px;
    display: flex;
}

.home_screen{
    margin-top: 3%;
    height: 90%;
}

.submitImage {
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        height: 80px;
        display: flex;
        top: 0;
    }
    .logo {
        height: 55px;
    }
    .icons {
        gap: 4em;
    }
}

@media (max-width: 730px){
    .icons, .logo {
        position: relative;
        left: 1%;
    }
}


@media (max-width: 634px) {
    .icons {
        gap: 3em;
    }
}

@media (max-width: 618px) {
    .icons{
        position: relative;
        padding-right: 20%;
    }

    .logo {
        position: relative;
        left: 10%;
    }
}

@media(max-width: 426px){
    .icons {
        padding: 4em;
        gap: 5em;
    }
}