.container {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    gap: 10%;
    padding-top: 200px; 

    button {
        background-color: #e8e7e7;
        width: 20%;
        height: 10%;
        border-radius: 100px;
        border-color:#6788CD;

        font-family: 'Poppins', 'serif';
        cursor: pointer;
    }

    @media (max-width: 1080px){
        button {
            width: 35%;
        }
    }

    @media (max-width: 680px){
        button {
            width: 45%;
        }
    }

    @media (max-width: 510px){
        button {
            width: 55%;
        }
    }
}