form {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    gap: 30px;

    div.inputs {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .errorMessage {
        font-size: 0.7rem;
        font-weight: 700;

        color: #ff0000;

        text-align: center;
    }

    Button {
        margin-bottom: 20%;
    }

    button:hover {
        background: linear-gradient(to bottom, rgba(152, 41, 209, 0.9), rgba(0, 74, 173, 0.5));
    }
}
