.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 1%;
    padding-top: 140px; 


    .submitImage {
        position: relative;

        border: none;
        background: none;

        margin-bottom: 50px;

        transition: filter 0.3s ease;

        cursor: pointer;
    }

    .submitImage:hover img{
        filter: brightness(0.5);
    }
    
    .photoAtualization {
            position: absolute;
            top: 50%;
            left: 50%;
            
            transform: translate(-50%, -50%);
            
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            text-align: center;

            z-index: 2;
        }
    }
