div.container {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    main {
        height: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h1 {
            color: #9829D1;
            font-size: 1.5rem;
            font-weight: 700;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 50px;

            margin-bottom: 4em;

            div.inputData {
                display: flex;
                flex-direction: column;
                gap: 20px;

                span {
                    font-size: 0.7rem;
                    font-weight: 700;
    
                    color: #ff0000;
    
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 970px) {
    main {
        margin-right: 3em;
    }
}

@media (max-width: 740px) {
    .container {
        flex-direction: column;

        padding: 2em;

        img {
            max-height: 100px;
        }

        main {
            min-height: 450px;
        }
    }
}

@media (max-width: 500px) {
    .container {
        margin-left: 2em;
    }
}

@media (max-width: 425px) {
    .container {
        margin-top: 1em;

        main {
            input {
                width: 350px;
            }
        }
    }
}

@media (max-width: 375px) {
    .container {
        margin-left: 3em;

        img {
            max-width: 130px;
            height: 80px;
        }

        main {
            input {
                width: 300px;
            }
        }
    }
}