.container {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    aside {
        width: 320px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 1.4em;

        background: linear-gradient(to bottom, rgba(152, 41, 209, 1), rgba(0, 74, 173, 0.61));

        img {
            max-width: 125px;
        }
        
        button {
            border: 2px solid #ffff;
            background: rgba(217, 217, 217, 0.28);
        }

        button:hover {
            background: rgba(217, 217, 217, 0.10);
        }

        div.texts {
            width: 100%;
            
            display: flex;
            align-items: center;
            flex-direction: column;
      
            gap: 25px;

            strong, p {
                color: #fff;
            }

            strong {
                font-weight: 900;
                font-size: 1.6rem;
            }

            p {
                font-weight: 500;
                font-size: 0.8rem;
            }
        }
    }

    main {
        height: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div.titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
           
            padding-top: 4em;
            margin-bottom: 2.3em;
            
            flex: 1;

            h1 {
                color: #9829D1;
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                text-align: center;
                color: #9C9C9C;
                font-weight: 500;
                font-size: 0.85rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 30px;

            flex-grow: 1;

            div.inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            span {
                font-size: 0.7rem;
                font-weight: 700;

                color: #ff0000;

                text-align: center;
            }

            button:hover {
                background: linear-gradient(to bottom, rgba(152, 41, 209, 0.9), rgba(0, 74, 173, 0.5));
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        aside {
            width: 280px;
        }
    }
}

@media (max-width: 701px) {
    .container {
        aside {
            width: 220px;
            height: 100%;

            div.texts {
                strong {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;

        aside {
            width: 100%;
            max-height: 120px;
      
            flex-direction: row;

            img {
                max-width: 125px;
            }
    
            div.texts {
                text-align: center;
            
                strong {
                    font-size: 1rem;
                }
    
                p {
                    display: flex;
                    justify-content: center;
                    font-size: 0.7rem;
                }
            }
        }

        main {
            div.titles {
                text-align: center;
                padding-top: 2em;
    
                h1 {
                    font-size: 1.8rem;
                }
    
                p {
                    font-size: 0.8rem;
                }
            }
    
            form {
                span {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

@media (max-width: 425px) {
    .container {
        aside {
            width: 100%;
            
            img {
                max-width: 100px;
            }
    
            div.texts {
                gap: 5px;
            
                strong {
                    font-size: 0.7rem;
                }
    
                p {
                    font-size: 0.6rem;
                }
            }
        }

        main {
            div.titles {
                padding-top: 1em;
    
                h1 {
                    font-size: 1.4rem;
                }
    
                p {
                    font-size: 0.6rem;
                }
            }
    
            form {
                div.inputs {
                    input {
                        width: 340px;
                    }
                }

                span {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .container {
        aside {
            img {
                max-width: 90px;
            }
    
            div.texts {    
                strong {
                    font-size: 0.6rem;
                }
    
                p {
                    font-size: 0.5rem;
                }
            }
        }

        main {
            form {
                div.inputs {
                    input {
                        width: 300px;
                    }
                }
            }
        }
    }   
}