.container {
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    aside {
        width: 320px;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        padding: 1.4em;

        background: linear-gradient(to bottom, rgba(152, 41, 209, 1), rgba(0, 74, 173, 0.61));

        img {
            max-width: 125px;
        }

        div.texts {
            width: 100%;
            
            display: flex;
            flex-direction: column;
      
            gap: 25px;

            strong, p {
                color: #fff;
            }

            strong {
                font-weight: 900;
                font-size: 1.6rem;
            }

            p {
                width: 100%;
                font-weight: 500;
                font-size: 0.8rem;
            }
        }
    }

    main {
        height: 100%;
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        div.titles {
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding-top: 4em;
            margin-bottom: 2.3em;
            
            flex: 1;

            h1 {
                color: #9829D1;
                font-weight: 700;
                font-size: 2rem;
            }

            p {
                width: 100%;
                color: #9C9C9C;
                font-weight: 500;
                font-size: 0.85rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 45px;

            flex-grow: 1;

            div.inputs {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            span {
                font-size: 0.7rem;
                font-weight: 700;

                color: #ff0000;

                text-align: center;
            }
        }
    }
}