div.container {
    position: absolute;
    right: 20em;
    top: 82px;

    display: flex;
    flex-direction: column;
    gap: 15px;

    max-width: 50%;
    border: 1px solid #f0ebeb;

    padding: 1em;

    z-index: 2;

    background-color: var(--background-color);
    color: var(--text-color);

    .light-theme {
        --background-color: #ffffff; 
        --text-color: #000000;
    }
    
    .dark-theme {
        --background-color: #121212; 
        --text-color: #ffffff;
    }
}

@media (max-width: 785px) {
    div.container {
        right: 150px;
    }
}

@media (max-width: 685px) {
    div.container {
        max-width: 80%;

        right: 50px;
    }
}

@media (max-width: 425px) {
    div.container {
        max-width: 90%;

        right: 20px;
    }
}

@media (max-width: 375px) {
    div.container {
        max-width: 95%;
    }
}

@media (max-width: 320px) {
    div.container {
        max-width: 100%;

        right: 0;
    }
}