.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.id {
    display: flex;


    padding: 1em;
    padding-right: 30em;

    h1{
        white-space: nowrap;
    }
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 30%;

    gap: 40px;
    margin-bottom: 2%;
}


.profile_picture {
    height: 55px;
    display: flex;
    margin-right: 700px;
    position: relative;
    left: 260px;
    top: 60px
}

.information img.photo {
    width: 500px;
}

p {
    word-wrap: break-word;
    text-align: left;
    max-width: 60%;
}

h1 {
    font-size: 15pt;
    font-weight: 500;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-self: flex-start;
}

.like, .dislike, .comment {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10%;
}

.interation img{
    height: 20px;
    display: flex;
    margin-bottom: 30%;
}

.iconContainer img {
    cursor: pointer;
}

.like img,
.dislike img,
.comment img {
  transition: transform 0.2s ease; 
}

.like.clicked img,
.dislike.clicked img {
  transform: scale(1.2); 
}

.defaultNumColor {
    color: black;
}

.likeNumColor, .dislikeNumColor {
    color: #004AAD; 
}

.iconContainer span {
    font-size: 12px; 
}

.commentSpace {
    display: none;
    flex-direction: row;
}

.commentSpace.visible {
    display: block;
}

.commentInput {
    height: 90px;
    width: 180px;
    background-color: #D9D9D9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: "Poppins", "serif";
}

.button {
    display: flex;
    background-color: #e1dfdf;
    padding: 1%;
    border: 1px solid;
    border-radius: 2px;    
}

@media (max-width: 744px){
    .container {
        display: flex;
        margin-left: 90px;
    }
}

@media (max-width: 670px){
    .container {
        display: flex;
        margin-left: 90px;
    }

    .p {
        max-width: 50%;
    }
}

@media (max-width: 660px){
    .container {
        display: flex;
        margin-left: 90px;
    }

    .profile_picture {
        height: 50px;
        padding-left: 20px;
    }

    .photo {
        height: 300px;
    }
}

@media (max-width: 632px) {
    .container {
        padding-left: 20px;
    }

    .photo {
        position: relative;
        right: 30px;

    }
}
@media (max-width: 618px){
    .container {
        margin-left: 100px;
    }

    .profile_picture {
        height: 45px;
        padding-left: 40px;
    }

    .photo {
        position: relative;
        right: 30px
    }

    .p {
        max-width: 45%;
        font-size: 10pt;
    }
}

@media (max-width: 591px){
    .container {
        display: flex;
        margin-left: 200px;
    }

    .profile_picture {
        height: 45px;
        padding-left: 50px;
    }

    .p {
        max-width: 40%;
    }

}

@media (max-width: 588px){
    .profile_picture {
        height: 40px;
    }

    .photo {
        width: 20px;
        padding-left: 30px;
        padding-right: 100px;
    }

    .interation {
        padding-right: 10%;
    }
}

@media (max-width: 516px){
    .p {
        max-width: 40%;
    }

}