.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.id {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    padding: 1.4em;
    padding-top: 5%;
    padding-right: 30em;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 30%;

    gap: 40px;
    margin-bottom: 2%;
}


.profile_picture {
    height: 55px;
    display: flex;
}

.information img.photo {
    width: 500px;
}

p {
    display: flex;
    text-align: left;
    max-width: 60%;
}

h1 {
    font-size: 15pt;
    font-weight: 500;
}

.iconContainer{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-self: flex-start;
}

.like, .dislike, .comment {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10%;
}

.interation img{
    height: 20px;
    display: flex;
    margin-bottom: 30%;
}

.iconContainer img {
    cursor: pointer;
}

.like img,
.dislike img,
.comment img {
  transition: transform 0.2s ease; 
}

.like.clicked img,
.dislike.clicked img {
  transform: scale(1.2); 
}

.defaultNumColor {
    color: black;
}

.likeNumColor, .dislikeNumColor {
    color: #004AAD; 
}

.iconContainer span {
    font-size: 12px; 
}
.commentSpace {
    display: none;
    flex-direction: row;
}

.commentSpace.visible {
    display: block;
}

.commentInput {
    height: 90px;
    width: 180px;
    background-color: #D9D9D9;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: "Poppins", "serif";
}

.comment {
    margin-bottom: 10px; 
    min-height: 50px;
}


.containerUser {
    display: flex;
    align-items: flex-start;
}

.photoUserComment {
    display: flex;
    margin-right: 20px;
}

.commentDetails {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start; 
}

.nameUserComment {
    font-size: 10pt;
    white-space: nowrap;
    margin-bottom: 5px;
}

.contentComment {
    word-break: break-all; 
    max-width: 300px; 
}


.button {
    display: flex;
    background-color: #e1dfdf;
    padding: 1%;
    border: 1px solid;
    border-radius: 2px;    
}
